html {
	/* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.discordapp.com/attachments/705816123421098015/857316867986817044/col-overlook.png"); */
	background-image: url("https://cdn.discordapp.com/attachments/705816123421098015/857316867986817044/col-overlook.png");
	background-position: center center;
	background-clip: border-box;
	background-size: auto;
	background-repeat: no-repeat;
	text-align: center;
}
body {
	width: 60%;
	margin: 0 auto;
	padding: 5%;
}
h1 {
	font-size: 400%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 10% 10%;
	padding: 5% 5%;
	text-shadow: 0px 0px 5px black;
}
p {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
div {
	margin: 0px;
	padding: 5%;
	position: relative;
}

.column {
	float: left;
	width: 30%;
	padding: 1.5%;
	margin: 0px;
}
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.roundTop {
	padding: 5%;
	border-top-left-radius: 0.5vmax;
	border-top-right-radius: 0.5vmax;
}
.roundBottom {
	padding: 5%;
	border-bottom-left-radius: 0.5vmax;
	border-bottom-right-radius: 0.5vmax;
}


.blur {
	background-color: rgba(255, 255, 255, 0.7);
	/* backdrop-filter: blur(10px); */
}
@supports (backdrop-filter: none) {
.blur {
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}
}

.solid {
	background-color: white;
	/* box-shadow: 0px -4px 5px black; */
}
.softShadow {
	box-shadow: 0px 0px 3px black;
	z-index: 2;
}
.hardShadow {
	box-shadow: 0px 0px 5px black;
	z-index: 1;
}
.border {
	border-width: 1px;
	border-style: solid;
	/* border-top-color: #b0b0b0;
	border-left-color: #b0b0b0;
	border-bottom-color: #505050;
	border-right-color: #505050; */
	border-color: #a0a0a0;
}

.hover {
	background-image: inherit;
	transition-duration: 200ms;
}
.hover:hover {
	backdrop-filter: blur(10px);
}

img.screenshot {
	max-width: 100%;
	max-height: 100%;
	padding: 0px;
	margin: 0px;
}